<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Register')"></head>

<nav th:replace="fragments/navbar :: navbar"></nav>

<body>

<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">

    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="f_name">First Name</label>
    <input id="f_name" th:field="*{f_name}" />

    <label for="l_name">Username</label>
    <input id="l_name" th:field="*{l_name}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />


    <input value="Sign me up!" type="submit" />
</form>

</body>
</html>