<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<nav th:fragment="navbar">
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand" href="/">Progression</div>
            </div>
            <ul class="nav navbar-nav">
                <!--<li class="active"><a href="#">Home</a></li>-->
                <li><a href="/profile">Profile</a></li>
                <li><a href="/create">Create a Project</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a>
                </li>
                <li class="nav-item">
                    <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
                <li class="nav-item">
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn btn-link glyphicon glyphicon-log-in" style="">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
