<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navbar" style="z-index: 10000">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navigation-links-text2" href="/">Progression</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register" class="navigation-links-text2"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign Up</a></li>
                    <li><a href="/login" class="navigation-links-text2"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
</nav>


</html>
