<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="register">
<nav th:replace="fragments/navbar :: navbar"></nav>
<form th:action="@{/register}" method="POST" th:object="${user}">

    <div class="vid-container animated fadeInUp">
        <div class="inner-container2">
            <div class="box">
                <h1>Register</h1>
                <input class="iBox" id="username" placeholder="Username" th:field="*{username}"/>
                <input class="iBox" type="password" id="password" placeholder="Password" th:field="*{password}"/>
                <input class="iBox" id="firstname" placeholder="First Name" th:field="*{firstName}" />
                <input class="iBox" id="lastname" placeholder="Last Name" th:field="*{lastName}" />
                <input class="iBox" id="email" placeholder="Email" th:field="*{email}" />
                <button type="submit" id="login-submit" value="Sign me up!">Sign Me Up</button>

            </div>
        </div>
    </div>
</form>

</body>
<footer th:replace="fragments/footer :: footer" />
</html>