label, input {
    display:block; }
input.text {
    margin-bottom:12px; width:95%; padding: .4em; }
fieldset {
    padding:0; border:0; margin-top:25px; }
h1 {
    font-size: 1.2em; margin: .6em 0; }
div#tasks-contain {
    width: 350px; margin: 20px 0; }
div#tasks-contain table {
    margin: 1em 0; border-collapse: collapse; width: 100%; }
div#tasks-contain table td, div#users-contain table th {
    border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error {
    padding: .3em; }
.validateTips {
    border: 1px solid transparent; padding: 0.3em; }
body {
    font-family: 'Teko', sans-serif;
}
body.home {
    background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../img/road.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Teko', sans-serif;


}

hr {
    background: white 25px;
    width: 50%;
}

.home-container {
    margin-top: 10%;
}

.home-text1 {
    top: 25%;
    color: white;
    font-size: 80px;
    text-align: center;
}

.home-text2 {
    top: 25%;
    color: white;
    font-size: 40px;
    text-align: center;
}


