
body, html {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    background-image: url("../img/Mountain.jpg");
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    position: absolute; /* IE Fix */
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    position: absolute;
    width: 100%;
    font-size: 20px;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    color: #a4a4a4;
    font-size: 45px;
    padding: 20px;
    background-color: white;
    margin-top: 75px;
}

h2 {
    display: block;
    font-family: 'Teko', sans-serif;
    font-weight: normal;
    padding: 10px 0;
    margin: 10px;
    font-size: 24px;
    text-transform: uppercase;
    color: black;
    border-bottom: 3px solid #595e75;
}

a {
    text-decoration: none;
}



.container {
    padding-left: 0;

}

.navigation-links-text {
    font-size: 30px;
}

.list-hr {
    width: 95%;
    top-margin: 5px;
    background: black;
    font-size: 5px;
}

.side-hr {
    width: 95%;
    top-margin: 5px;

}

input {
    font-family: 'Teko', sans-serif;
    display: inline-block;
    border: none;
    font-size: 25px;
    background-color: #f2f2f2;
    padding: 10px 10px;
    color: black;
    outline: none !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

}

input:hover,
input:focus {
    background-color: #f2f2f2;
}

#progress {
    background-color: rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;

}

.hidden {
    display: none;
}

.button {
    display: inline-block;
    font-size: 25px;
    padding: 10px 10px;
    border: none;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    background-color: #2ecc71;
    text-transform: uppercase;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    text-align: center;
}

.button.red {
    background-color: #e75259;
}

.button.red:hover {
    background-color: #f3565d;
}

.button:not([disabled]) {
    cursor: pointer;
}

.button:hover {
    background-color: #2ecc71;
}

div#left-content,
div#main-content {
    min-height: 100%;
    display: table-cell;
}

div#left-content {
    width: 200px;
    max-width: 250px;
    background-color: black;
    height: 1000px;
}

div#left-content div#user-panel {
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
    margin-bottom: 20px;
}

div#left-content div#user-panel div.avatar {
    display: inline-block;

    width: 45px;
    height: 45px;
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-right: 10px;
}

/*div#left-content div#user-panel div.avatar > img*/
/*{*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/
div#left-content div#user-panel div.welcome {
    display: inline-block;
    margin-top: 10px;
}

div#left-content div#user-panel div.welcome span {
    color: white;
    text-transform: uppercase;
}

div#left-content div#user-panel div.welcome span.username {
    color: #FFF;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}

div#left-content div#user-panel div.logout {
    display: none /* !!!!!!!important */;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -8px;
}

div#left-content div#user-panel div.logout > img {
    width: 100%;
    height: 100%;
}

div#left-content div#lists-names {
    padding: 0;
}

div#left-content div#lists-names div#lists-container {
    margin-top: 20px;
}

div#left-content div#lists-names div#lists-container div.list,
div#main-content div#tasks-list-container ul#tasks-list li {
    padding: 20px 10px;
    color: #a4a4a4;
    position: relative;
}

div#left-content div#lists-names div#lists-container a:hover div.list {
    background-color: #1e202c;
    color: #FFF;
}

div#left-content div#lists-names div#lists-container div div.remaining,
div#tasks-list-container ul#tasks-list div.status {
    background: #e75259;
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    padding: 5px 10px;
    color: #FFF;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    min-width: 20px;
    text-transform: uppercase;
}

div#left-content div#lists-names a.button {
    display: block;
    margin: 10px;
}

div#main-content header,
div#main-content div#new-task {
    background-color: rgba(255, 255, 255, 0.65);
    /*padding: 20px 20px;*/
    margin-bottom: 25px;
}

div#main-content div#new-task {
    padding: 10px 20px;
}

div#main-content header {
    height: 45px;
}

div.list-name {
    /*display: inline-block;*/
    /*margin-top: 0px;*/
    font-size: 20px;
    margin-right: 40px;
    padding-left: 0px;

}

div#main-content header div.list-actions {
    float: right;
}

div#main-content div#new-task div#new-task-form {
    width: 100%;
    display: table;
}

div#main-content div#new-task div#new-task-form div {
    display: table-cell;
}

div#main-content div#new-task div#new-task-form div:last-child {
    padding-left: 10px;
    width: 100px;
}

div#main-content div#new-task div#new-task-form div input {
    width: 100%;
}

div#tasks-list-container {
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.65);
}

div#tasks-list-container ul#tasks-list {
    list-style: none !important;
}

div#main-content div#tasks-list-container ul#tasks-list li {
    padding-left: 40px;
    padding-right: 40px;
    border-bottom: 1px solid #f4f4f4;
}

div#tasks-list-container ul#tasks-list input.check-status,
div#tasks-list-container ul#tasks-list div.status {
    position: absolute;
}

div#tasks-list-container ul#tasks-list input.check-status {
    display: block;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 0;
    margin-top: -7px;
    padding: 0;
}

div#tasks-list-container ul#tasks-list input.check-status:checked + span {
    font-family: 'Teko', sans-serif;
    font-weight: 600;
}

div#tasks-list-container ul#tasks-list div.status {
    background-color: #cfcfcf;
}

div#tasks-list-container ul#tasks-list div.status.done {
    background-color: #45b7af;
}

div#tasks-list-container div#tasks-list-actions {
    padding: 20px 0;
    background-color: white;
    text-align: right;
}
@media only screen and (min-width: 768px) {

    body, html {
        display: table;
        width: 100%;
        height: 100%;
        min-height: 100%;
    }

    body {
        background-image: url("../img/Mountain.jpg");
        font-family: 'Teko', sans-serif;
        font-size: 25px;
        position: absolute; /* IE Fix */
        overflow-x: hidden;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    nav {
        position: absolute;
        width: 100%;
        font-size: 20px;
    }

    h1 {
        font-family: 'Teko', sans-serif;
        font-weight: 600;
        color: #a4a4a4;
        font-size: 45px;
        padding: 20px;
        background-color: white;
    }

    h2 {
        display: block;
        font-family: 'Teko', sans-serif;
        font-weight: normal;
        padding: 10px 0;
        margin: 10px;
        font-size: 24px;
        text-transform: uppercase;
        color: black;
        border-bottom: 3px solid #595e75;
    }

    a {
        text-decoration: none;
    }

    .navigation-links-text {
        font-size: 30px;
    }

    .list-hr {
        width: 95%;
        top-margin: 5px;
        background: black;
        font-size: 5px;
    }

    .side-hr {
        width: 95%;
        top-margin: 5px;

    }

    input {
        font-family: 'Teko', sans-serif;
        display: inline-block;
        border: none;
        font-size: 25px;
        background-color: #f2f2f2;
        padding: 10px 10px;
        color: black;
        outline: none !important;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box;

    }

    input:hover,
    input:focus {
        background-color: #f2f2f2;
    }

    #progress {
        background-color: rgba(0, 0, 0, 0.1);
        padding-bottom: 5px;

    }

    .hidden {
        display: none;
    }

    .button {
        display: inline-block;
        font-size: 25px;
        padding: 10px 10px;
        border: none;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        color: #fff;
        background-color: #2ecc71;
        text-transform: uppercase;
        font-family: 'Teko', sans-serif;
        font-weight: 600;
        text-align: center;
    }

    .button.red {
        background-color: #e75259;
    }

    .button.red:hover {
        background-color: #f3565d;
    }

    .button:not([disabled]) {
        cursor: pointer;
    }

    .button:hover {
        background-color: #2ecc71;
    }

    div#left-content,
    div#main-content {
        min-height: 100%;
        display: table-cell;
    }

    div#left-content {
        width: 200px;
        max-width: 250px;
        background-color: black;
        height: 1400px;
    }

    div#left-content div#user-panel {
        position: relative;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 20px 10px;
        margin-bottom: 20px;
    }

    div#left-content div#user-panel div.avatar {
        display: inline-block;

        width: 45px;
        height: 45px;
        overflow: hidden;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        margin-right: 10px;
    }

    /*div#left-content div#user-panel div.avatar > img*/
    /*{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*}*/
    div#left-content div#user-panel div.welcome {
        display: inline-block;
        margin-top: 10px;
    }

    div#left-content div#user-panel div.welcome span {
        color: white;
        text-transform: uppercase;
    }

    div#left-content div#user-panel div.welcome span.username {
        color: #FFF;
        font-family: 'Teko', sans-serif;
        font-weight: 600;
    }

    div#left-content div#user-panel div.logout {
        display: none /* !!!!!!!important */;
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        right: 16px;
        margin-top: -8px;
    }

    div#left-content div#user-panel div.logout > img {
        width: 100%;
        height: 100%;
    }

    div#left-content div#lists-names {
        padding: 0;
    }

    div#left-content div#lists-names div#lists-container {
        margin-top: 20px;
    }

    div#left-content div#lists-names div#lists-container div.list,
    div#main-content div#tasks-list-container ul#tasks-list li {
        padding: 20px 10px;
        color: #a4a4a4;
        position: relative;
    }

    div#left-content div#lists-names div#lists-container a:hover div.list {
        background-color: #1e202c;
        color: #FFF;
    }

    div#left-content div#lists-names div#lists-container div div.remaining,
    div#tasks-list-container ul#tasks-list div.status {
        background: #e75259;
        font-size: 10px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -10px;
        padding: 5px 10px;
        color: #FFF;
        text-align: center;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        min-width: 20px;
        text-transform: uppercase;
    }

    div#left-content div#lists-names a.button {
        display: block;
        margin: 10px;
    }

    div#main-content header,
    div#main-content div#new-task {
        background-color: rgba(255, 255, 255, 0.65);
        /*padding: 20px 20px;*/
        margin-bottom: 25px;
    }

    div#main-content div#new-task {
        padding: 10px 20px;
    }

    div#main-content header {
        height: 45px;
    }

    div.list-name {
        /*display: inline-block;*/
        /*margin-top: 0px;*/
        font-size: 20px;
        margin-right: 40px;
        padding-left: 0px;

    }

    div#main-content header div.list-actions {
        float: right;
    }

    div#main-content div#new-task div#new-task-form {
        width: 100%;
        display: table;
    }

    div#main-content div#new-task div#new-task-form div {
        display: table-cell;
    }

    div#main-content div#new-task div#new-task-form div:last-child {
        padding-left: 10px;
        width: 100px;
    }

    div#main-content div#new-task div#new-task-form div input {
        width: 100%;
    }

    div#tasks-list-container {
        padding: 0 20px;
        background-color: rgba(255, 255, 255, 0.65);
    }

    div#tasks-list-container ul#tasks-list {
        list-style: none !important;
    }

    div#main-content div#tasks-list-container ul#tasks-list li {
        padding-left: 40px;
        padding-right: 40px;
        border-bottom: 1px solid #f4f4f4;
    }

    div#tasks-list-container ul#tasks-list input.check-status,
    div#tasks-list-container ul#tasks-list div.status {
        position: absolute;
    }

    div#tasks-list-container ul#tasks-list input.check-status {
        display: block;
        width: 16px;
        height: 16px;
        top: 50%;
        left: 0;
        margin-top: -7px;
        padding: 0;
    }

    div#tasks-list-container ul#tasks-list input.check-status:checked + span {
        font-family: 'Teko', sans-serif;
        font-weight: 600;
    }

    div#tasks-list-container ul#tasks-list div.status {
        background-color: #cfcfcf;
    }

    div#tasks-list-container ul#tasks-list div.status.done {
        background-color: #45b7af;
    }

    div#tasks-list-container div#tasks-list-actions {
        padding: 20px 0;
        background-color: white;
        text-align: right;
    }
}
