<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body class="home">
<nav th:replace="fragments/navbar :: navbar"></nav>

<div class="home-container">
    <div class="home-text1">
        <h1 class="animated fadeInUp">Progression</h1>
    </div>

    <hr class="line"/>

    <div class="home-text2">
        <p class="animated fadeInUp">Task manager for the agile workplace</p>
    </div>
</div>


</body>
<footer th:replace="fragments/footer :: footer" />
</html>