<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head('Project Details')"></head>

<nav th:replace="fragments/navbar :: navbar"></nav>
<body>
    <h1>Project Details</h1>
    <div>
        <div th:each="project : ${projects}">Title of Project</div>
            <div>Name of Step</div>
            <div th:text="${project.description}">Step description</div>
            <button>Sign off</button>
        </div>
    <br/>
    <div th:each="project : ${projects}">Title of Project</div>
    <div>Name of Step</div>
    <div th:text="${project.description}">Step description</div>
    <button>Sign off</button>
    </div>
    <br/>
    </div>
</body>


</html>