<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--<head th:replace="fragments/head :: head('Project Details')"></head>-->

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

    <h1>Projects</h1>
    <div>
        <div th:each="project : ${projects}">Title of Project</div>
            <div>Name of Step</div>
            <div th:text="${project.description}">Step description</div>
            <button>Sign off</button>
        </div>
    </div>
</body>


</html>