<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

        <div>
            <h1>Create Project</h1>
                <div>
                    <form th:action="create" th:method="post" th:object="${project}">

                        <label for="pTitle">Name of Project</label>
                        <input id="pTitle" type="text" th:field="*{title}" />

                        <label for="pDate">Projected Completion Date</label>
                        <input id="pDate" type="text" th:field="*{date}" />

                        <label for="pDescription">Project Summary</label>
                        <input id="pDescription" type="text" th:field="*{description}" />
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
        </div>

</body>


</html>