<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">

</head>

<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

<h3>Dynamic Progress Bar</h3>
<div class="progress">
    <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span id="current-progress"></span>
    </div>
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add a Task
    </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" th:object="${project}">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title bg-dark" id="exampleModalLongTitle">Add a task</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="task-body form-group" th:action="@{/task/{projectId}(projectId=${project.id})}" th:method="post" th:object="${task}">
                    <label for="title">Task Title: </label>
                    <input type="text" id="title" class="form-control " name="title" th:field="*{title}" placeholder="Please enter a title for this task." required="required" />

                    <label for="title">Description: </label>
                    <input type="text" id="description" class="form-control" name="description" th:field="*{description}" placeholder="Please give detailed instructions for completing this task." required="required" />

                    <label for="assignTo">Assign to: </label>
                    <input type="text" id="assignTo" class="form-control" name="assignTo" PLACEHOLDER="Assign this task to someone." />

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <input type="submit" class="btn btn-primary"  />
                    </div>
                </form>
            </div>
        </div>
    </div>

<div>
    <h1>Project Tasks:</h1>
        <div th:each="task : ${tasks}" class="container project-task">
            <div class="row">
                <div class="card-header bg-secondary" th:text="'title: ' + ${task.title}" />
                <div class="card-body" th:text="'description: ' + ${task.description}" />
                <form th:action="@{/task/setComplete/{taskId}/{projectId}(taskId=${task.id}, projectId=${project.id})}" method="post">
                    <input type="submit" class="btn btn-primary" value="Sign Off" th:if="${not task.isComplete()}" onclick="style.display = 'none'" />
                </form>
            </div>
        </div>

</div>



<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/scripts :: scripts"></script>
<script>
    $(function() {
        var current_progress = document.querySelector("#progress-percent").innerText;
        console.log(current_progress);
                // current_progress += 10;
                $("#dynamic")
                .css("width", current_progress + "%")
                .attr("aria-valuenow", current_progress)
                .text(parseFloat(current_progress).toFixed(0) + "% Complete");


    });
</script>

</body>
</html>