<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar"></nav>

    <div>
        <div th:each="project : ${projects}" value="Project name">
            <h2 th:text="*{title}" value="Project name"></h2>
            <p th:text="*{description}"></p>
        </div>
    </div>
    <div id="dialog-form" title="Create new task">
        <p class="validateTips">All form fields are required.</p>

        <form th:action="task" th:method="post" th:object="${task}">
            <fieldset>
                <label for="title">Task Title</label><br/>
                <input type="text" name="title" id="title" value="" class="text ui-widget-content ui-corner-all" /><br/>
                <label for="description">Description</label><br/>
                <input type="text" name="description" id="description" value="" class="text ui-widget-content ui-corner-all" /><br/>
                <label for="assign">Assign Task to:</label><br/>
                <input type="text" name="assign" id="assign" value="" class="text ui-widget-content ui-corner-all" /><br/>
                <label for="order">Order</label><br/>
                <input type="number" name="order" id="order" value="" class="text ui-widget-content ui-corner-all" /><br/>
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px" />
            </fieldset>
        </form>
    </div>


<div id="tasks-contain" class="ui-widget">
    <h1>Project Tasks:</h1>

</div>
<button id="create-task">Create new task</button>


<footer th:replace="fragments/footer :: footer"></footer>
<script src="js/main.js"></script>

</body>
</html>